<mat-toolbar class="max-w-7xl mx-auto border-x justify-between">
    <a routerLink="home">ЛидерКанц</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon
                [matBadge]="itemsQuantity"
                [matBadgeHidden]="!itemsQuantity"
                matBadgeColor="warn"
        >shopping_cart</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <div class="p-3 divide-y divide-solid">
            <div class="pb-3 flex justify-between">
                <span class="">{{cart.items.length}} товар</span>
                <a routerLink="cart">Перейти в корзину</a>
            </div>
            <div *ngIf="cart.items.length" class="py-3">
                <div
                        *ngFor="let item of cart.items"
                        class="flex justify-between font-light mb-2">
                    {{item.name}} x {{item.quantity}}
                    <span class="font-bold">{{ item.price | currency: "KZT":"symbol"}}</span>
                </div>
            </div>
            <div class="flex justify-between py-3 font-light">
                Итог:
                <span class="font-bold">{{ getTotal(cart.items) | currency: "KZT" }}</span>
            </div>
            <div class="pt-3 flex justify-between">
                <button
                        (click)="onClearCart()"
                        class="bg-rose-600 text-white rounded-full w-9 h-9">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                <button
                        class="bg-green-600 text-white rounded-full w-9 h-9"
                        routerLink="cart"
                >
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </mat-menu>
</mat-toolbar>